html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  height: 100vh; }

html,
body,
div,
span,
a,
h1,
h2,
h3, 
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeLegibility; }

p
{
	margin: 0 0 0.2em 0;
}

.bg-img{
	background: url('https://images.unsplash.com/photo-1508693926297-1d61ee3df82a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7bb93ea6780c3e286815b252524a02c2&auto=format&fit=crop&w=1500&q=80')no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}

@media only screen and (min-width: 728px) {
	.login-box{
		width: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		background: rgba(0, 0, 0, 0.6);
		padding: 50px;
		box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}
	.login-box h1{
		font-size: 35px;
		margin: 0 0 30px;
		padding: 0;
		color:  #fff;
		text-align: center;

	}
	.login-box .form-group{
		position: relative;
	}


	.login-box .form-group input{
		width: 100%;
		padding: 10px 0;
		font-size: 16px;
		color: #fff;
		margin-bottom: 30px;
		border: none;
		border-bottom: 1px solid #4caf50;
		outline: none;
		background: transparent;
	}
	.login-box .form-group #strength{
		position: absolute;
		top: -3px;
		right: 5%;
	}
	.login-box .form-group label{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 16px;
		padding:  10px 0;
		color: #fff;
		pointer-events: none;
		transition: .5s;
	}
	.login-box .form-group input:focus ~ label,
	.login-box .form-group input:valid ~ label {
		top: -20px;
		left: 0;
		color: #4caf50;
		font-size: 13px;
	}

	.btn{
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
		background: #4caf50;
		border:  none;
		color: #fff;
		padding: 5px;
		height: 40px;
		border-radius: 15px;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		font-family: 'Nunito', sans-serif;
	}
	.btn:hover{
		background: #3d8340;
		color: #fff;
	}
	.password-forget{
		color: #fff;
		text-decoration: none;
	}
	.password-forget:hover{
		color:#4caf50; 
	}
}






